/* General */
html, body {
	position: relative;
	min-height: 100%;
}

html, body {
	height: 100%;
}

div {
	outline: none;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 150px;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear: both;
}

.line {
	width: 100px;
	border: 2px solid black;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/
}

.header .left .title,
.header .left .menu,
.header .left .menu .item {
	display: inline-block;
}

.header .left .title {
	margin: 8px 16px;
}

.header .left .menu .item {
	margin-left: 16px;
}

.header .right .dropdown {
	margin: 8px 16px;
}

.footer {
	position: absolute;
	width: 100%;
	background: #333333;
}

.footer .ui.secondary.menu .item {
	color: white;
}

/* Partials */
.innovations .title,
.yours .title {
	text-align: center;
	margin-top: 16px;
}

.innovations .name,
.yours .name {
	color: #1488c8;
}

.innovations .ui.icon.angle,
.yours .ui.icon.angle {
	cursor: pointer;
}

/* Landing */
#landing {
	background: #1488c8;
}

#landing .header {
	color: white;
	background: none;
	min-height: 64px;
}

#landing .header .title {
	display: inline-block;
	margin: 8px 16px;
}

#landing .header .sign-in {
	display: inline-block;
	margin: 8px 16px;
	padding: 8px 32px;
	border: 1px solid white;
	border-radius: 16px;
	color: #1488c8;
	background: rgba(255,255,255,1);
	text-decoration: none;
	transition: background .4s, color .4s;
}

#landing .header .sign-in:hover {
	color: white;
	background: rgba(255,255,255,0);
}

#landing .jumbotron {
	position: relative;
	height: 800px;
}

#landing .jumbotron .text {
	position: absolute;
	left: 0;
	right: 0;
	padding-top: 50px;
}

#landing .jumbotron .text .title,
#landing .jumbotron .text .subtitle {
	color: white;
	text-align: center;
}

#landing .jumbotron .image {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

#landing .features {
	background: white;
	padding-top: 50px;
}

#landing .features .title {
}

#landing .features .item {
	position: relative;
	height: 800px;
}

#landing .features .item .text {
	position: absolute;
	left: 0;
	right: 0;
	padding-top: 50px;
}

#landing .features .item .image {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

/* Dashboard */
#dashboard .highlights .trending,
#dashboard .highlights .popular {
	position: relative;
	width: 50%;
	height: 400px;
	float: left;
	background: grey;
}

#dashboard .highlights .slides * {
	position: relative;
	height: 100%;
}

#dashboard .highlights .caption {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	padding: 16px;
	height: auto;
}

#dashboard .highlights .overlay {
	position: absolute;
	width: 100%;
}

#dashboard .highlights .overlay .valign {
	height: auto;
}

#dashboard .highlights .overlay .button {
	background: rgba(255, 255, 255, 0);
	color: white;
	border: 2px solid white;
	border-radius: 32px;
	padding: 8px 32px;
	transition: background .4s, color .4s;
	font-size: 2rem;
}

#dashboard .highlights .overlay .button:hover {
	background: rgba(255, 255, 255, 1);
	color: black;
}

#dashboard .highlights .caption > * {
	margin: 0;
}

/* Create Project */
#create-project .title {
	margin-top: 50px;
}

#create-project button[type=submit] {
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 8px 32px;
	border: none;
	border-radius: 16px;
	color: white;
	background: #1488c8;
}

/* Profile */

/* Projects */
#projects .project {
	position: relative;
	width: 50%;
	height: 480px;
	float: left;
}

#projects .caption {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	padding: 16px;
	height: auto;
}

/* Project */
#project .ui.tab,
#project .summary .row {
	margin-bottom: 32px;
}

#project .summary .ui.button {
	display: block;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
}

#project .member-icon {
	width: 64px;
	height: 64px;
	margin-right: 8px;
	border-radius: 50%;
	color: white;
	text-align: center;
}

#project .conversations .member-icon-wrapper {
	width: 64px;
	height: 64px;
	margin: 0 auto;
}

#project .conversations .ui.button {
	margin: 16px;
}

#project .progress {
	background: none;
}
