{{ define "foot" }}
	<script type='text/javascript' src='vendor/jquery/jquery.js'></script>
	<script type='text/javascript' src='vendor/moment/moment.js'></script>
	<script type='text/javascript' src='vendor/semantic/semantic.js'></script>
	<script type='text/javascript' src='vendor/slick/slick.js'></script>
	<script type='text/javascript' src='vendor/Chart/Chart.js'></script>
	<script type='text/javascript' src='vendor/fullcalendar/fullcalendar.js'></script>
	<script type='text/javascript' src='js/background.js'></script>
{{ end }}
